.btn {
  width: 7rem;
  height: 3rem;
  position: absolute;
  display: block;
  background: #59a4c2;
  background-image: -webkit-linear-gradient(top, #59a4c2, #002738);
  background-image: -moz-linear-gradient(top, #59a4c2, #002738);
  background-image: -ms-linear-gradient(top, #59a4c2, #002738);
  background-image: -o-linear-gradient(top, #59a4c2, #002738);
  background-image: linear-gradient(to bottom, #59a4c2, #002738);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 0px #101d1f;
  -moz-box-shadow: 3px 3px 0px #101d1f;
  box-shadow: 3px 3px 0px #101d1f;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  border: solid #154461 2px;
  text-decoration: none;
  -webkit-box-shadow: 0 0 4px 2px #73BEDB;
  -moz-box-shadow: 0 0 4px 2px #73BEDB;
  box-shadow: 0 0 4px 2px #73BEDB;
}

.btn:hover {
  background: #133340;
  background-image: -webkit-linear-gradient(top, #133340, #70BDDC);
  background-image: -moz-linear-gradient(top, #133340, #70BDDC);
  background-image: -ms-linear-gradient(top, #133340, #70BDDC);
  background-image: -o-linear-gradient(top, #133340, #70BDDC);
  background-image: linear-gradient(to bottom, #133340, #70BDDC);
  text-decoration: none;
  -webkit-box-shadow: 0 0 6px 4px #73BEDB;
  -moz-box-shadow: 0 0 6px 4px #73BEDB;
  box-shadow: 0 0 6px 4px #73BEDB;
}

.btn:nth-child(1){
  top: 1rem;
  left: 3rem;
}
.btn:nth-child(2){
  top: 1rem;
  right: 3rem;
}
.btn:nth-child(3){
  top: 12rem;
  left: 0.1rem;
}
.btn:nth-child(4){
  top: 12rem;
  right: 0.1rem;
}
